/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESET END */

html {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

button {
    background-color: #00ace6;
    border: none;
    border-radius: 4px;
    color: white;
    display: inline-block;
    margin: 4% 0 4% 0;
    width: 100%;
    padding: 16px 65px;
    font-size: 2rem;
}

fieldset {
  border: 0 none; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.main-content {
    margin: 0 auto;
    max-width: 90%;

}

h1, button, legend {
    font-family: 'Hedvig Letters Sans', sans-serif;
}

p{
  font-family: 'Hedvig Letters Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5rem;
}

input{
  appearance: auto;
  color: canvastext;
  background-color: canvas;
  border: none;
  padding-top: 1px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

input[type=text], input[type=number], input[type=tel], textarea, select {
    border-radius: 2px;
    padding: 3%;
    margin: 1% 0 1% 0;
    background-color: #e0e0d1;
    max-width: 95%;
    transition: background-color 2s;
    line-height: 2rem;
    font-size: inherit;
}


input[type=text]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus{
    background-color: white;
}

label {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
    line-height: 2rem;
}

legend {
    text-align: left;
}

 legend strong{
   font-weight: 700;
   font-size:1.5rem;
   line-height: 2rem;
 }
 
 option{
   font-size: 1.25rem;
   font-weight: 300;
   white-space-collapse: collapse;
   text-wrap: nowrap;
 }

select {
    margin-top: 1%;
}

.header {
    background-color: teal;
    padding: 5%;
}

.header h1 {

    color: white;
    font-size: 2rem;
 }

.intro {
     padding: 2.5% 5% 5% 5%;
     margin: 0 0 5% 0;
     border-bottom: 4px solid teal;
 }
 
 .intro h2 {
      color: teal;
      font-size: 1.75rem;
      font-weight: 700;
      padding: 2.75%;
  }
  
  h2 {
      color: teal;
      font-size: 1.75rem;
      font-weight: 700;
      padding: 2.75%;
  }

.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    margin-top: 1%;
    margin-bottom: 1%;
}

.last {
    margin-bottom: 1%;
}

.main-content {
    background-color: white;
    margin: 0 auto;
    max-width: 90%;
}

footer{
 background-color: rgb(45, 65, 65);
     padding: 5%;
 }

.radio {
    display: inline;
}

.radioinput, .news {
    text-align: left;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-family: 'Hedvig Letters Sans', sans-serif;
    text-align: right;
}



@media screen and (min-width: 1024px) {

    input, select {
        width: 66%;
    }

    label {

        text-align: right;
        width: 33%;
    }

    .lower {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
    }

    .checkbox {
        flex: 1;
    }



    .select, .news {
        text-align: left;
    }

    .input {
        flex-direction: row;
        justify-content: space-between;
    }



    .main-content {
        max-width: 45%;

}

.radioinput {
    display: flex;

}
}